/FileInputStreamTest1.class
/FileInputStreamTest2.class
/FileInputStreamTest3.class
/FileInputStreamTest4.class
/FileInputStreamTest5.class
/FileInputStreamTest6.class
/SystemInTest1.class
/SystemInTest2.class
